/* CSS RESET */
/* a way for the devs to remove any pre-defined margins and paddings set by the browser. This is to have less hasslein managing space that will be used for layout of the webpage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* using Google Font "Open Sans" for styling the body text */
body {
    font-family: 'Open Sans', sans-serif;
}

/* NAV SECTION */

nav {
    padding: .8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid grey;
    list-style-type: none;
}

/*
    to increase/decrease the space of the content to the border, manage the padding.

    to manage the spacing in between the elements, increase/decrease the margin
*/

/* use comma to select multiple selectors */
nav .nav, nav .nav-logo {
    /* creates space outside the element's border */
    margin: .5rem;
    /* 
        li are naturally block elements, but with the use of display:inline; we are able to transform the li elements to become inline (displayed beside each other)
    */
    display: inline;
}

/* INFO SECTION */

/* 
    when we have different measurements for each side, the measurement for each side can be used.
    padding-left, padding-right, padding-top, padding-bottom

*/

#intro {
    /* % value is used for the padding/margin to use the relative measuremnts of the screen of the user */
    /* top, right, bottom, left */
    /* in this case, top left/right bottom */
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

.header {
    text-align: center;
}

#intro h2, #intro p {
    margin-bottom: 1rem;
}

#intro button {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 25px;
    /* to create space to make the button bigger and to make the content "Apply Now" more noticeable */
    padding: 1rem;
}

/* SUCCEED INFO */

#succeed-info {
    padding: 2rem 10% 3rem;
}

#succeed-info h2 {
    /* to create space between the header and the card */
    margin-bottom: 1rem;
} 

#succeed-info h3 {
    text-align: center;
    margin-bottom: 1rem;
}

#succeed-info .card {
    /* allows the card to appear next to each other */
    /* 
        inline - consuming only the content width of the element
        block - consumes the full width of the webpage
        inline-block - works as inline for its siblings, but works as block element for the elements outside its parent element
    */
    display: inline-block;
    /* vertical-align: top; - align the elements at the top of their container */
    vertical-align: top;
    /* min-height - set the minimum height in case the content does not fit the card */
    min-height: 175px;
    /* width - the value is relative to the screen size of the user*/
    width: 30%;
    margin-left: .5rem;
    margin-right: .5rem;
}

/* FOOTER SECTION */

footer {
    padding: 0.7rem;
}

footer span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* shorthand: 0 0.5rem */
}