* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* NAV SECTION */

nav {
    padding: 20px;
    margin-bottom: 2rem;
    border-bottom: 1px solid grey;
    list-style-type: none;
}

nav>ul>li{
    display: inline;
    margin: 10px;
    padding: 10px;
    vertical-align: middle;
}


/* INFO SECTION */

#intro {
    margin: 30px 18% 50px;
    text-align: center;
}

#intro .heading, #intro p, #intro div {
    margin: 20px;
}

#intro button {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 25px;
    padding: 1rem;
}


/* SUCCEED INFO */

#succeed-info {
    margin: 30px 18% 50px;
}

#succeed-info .header {
    margin-top: 100px;
    text-align: center;
}

#succeed-info .card {
    padding: 10px 0 0;
}

#succeed-info .card>h3, #succeed-info .card>div {
    padding: 10px 0;
}

/* PRE-FOOTER */

/* step 3 */
#pre-footer {
    background-color: #002540;
    color: white;
    padding: 20px;
}

/* step 4 */
#pre-footer div{
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

/* step 5 */
#pre-footer h3, #pre-footer p{
    margin: 5px 0;
}

/* FOOTER */

footer {
    padding: 0.7rem;
}

footer span {
    margin: 0 15px;
}




